body {
  background-color: #FFFFFF ;
  color: #333333 ;
  font-family: helvetica, verdana, arial ;
  margin: 10px 10px 10px 10px ;
}
a[ng-click] {
  cursor: pointer ;
  text-decoration: underline ;
}
div.m-uploader {
  background-color: #F0F0F0 ;
  border: 2px dashed #CCCCCC ;
  border-radius: 4px 4px 4px 4px ;
  cursor: pointer ;
  height: 100px ;
  margin: 20px 0px 20px 0px ;
}
div.m-uploader div.instructions {
  font-size: 20px ;
  height: 100px ;
  line-height: 104px ;
  text-align: center ;
}
div.m-uploader ul.queue {
  list-style-type: none ;
  margin: 0px 0px 0px 0px ;
  padding: 15px 15px 15px 15px ;
}
div.m-uploader ul.queue li.item {
  background-color: #FFFFFF ;
  border: 1px solid #CCCCCC ;
  border-radius: 3px 3px 3px 3px ;
  height: 50px ;
  float: left ;
  font-size: 14px ;
  font-weight: 800 ;
  line-height: 52px ;
  margin: 0px 10px 10px 0px ;
  text-align: center ;
  width: 50px ;
}
div.m-uploader ul.queue:after {
  content: "";
  display: block ;
  clear: both ;
  height: 0px ;
}
div.m-uploader.uploading {
  border-color: #999999 ;
}
div.m-images {
  position: relative ;
}
div.m-images ul.images {
  list-style-type: none ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
}
div.m-images ul.images li.image {
  background-color: #FAFAFA ;
  border: 1px solid #CCCCCC ;
  border-radius: 3px 3px 3px 3px ;
  float: left ;
  height: 154px ;
  margin: 14px 14px 0px 0px ;
  padding: 15px 15px 1px 15px ;
  position: relative ;
  width: 150px ;
}
div.m-images ul.images li.image:hover a.delete {
  display: block ;
}
div.m-images ul.images div.thumbnail {
  border: 1px solid #E0E0E0 ;
  height: 115px ;
  margin: 0px 0px 10px 0px ;
  overflow: hidden ;
  width: 148px ;
}
div.m-images ul.images div.thumbnail img {
  border-width: 0px 0px 0px 0px ;
  display: block ;
  width: 148px ;
}
div.m-images ul.images div.name {
  font-size: 13px ;
  font-weight: bold ;
  overflow: hidden ;
  text-overflow: ellipsis ;
  white-space: nowrap ;
  width: 150px ;
}
div.m-images ul.images a.delete {
  background-color: #FFFFFF ;
  border: 2px solid #262626 ;
  border-radius: 20px 20px 20px 20px ;
  color: #262626 ;
  display: none ;
  font-weight: 800 ;
  height: 20px ;
  line-height: 20px ;
  position: absolute ;
  right: 6px ;
  text-align: center ;
  text-decoration: none ;
  top: 6px ;
  width: 20px ;
}
div.m-images ul.images div.drop-indicator {
  bottom: -10px;
  display: none ;
  left: -10px;
  position: absolute ;
  right: -10px;
  top: -10px;
}
div.m-images ul.images div.drop-indicator div.left {
  background-color: rgba(255, 255, 255, 0.01);
  bottom: 0px ;
  left: 0px ;
  position: absolute ;
  top: 0px ;
  width: 50% ;
}
div.m-images ul.images div.drop-indicator div.left:before {
  background-color: #FF33CC ;
  border-radius: 2px 2px 2px 2px ;
  bottom: 4px ;
  content: "";
  display: none ;
  font-size: 1px ;
  left: 0px ;
  overflow: hidden ;
  position: absolute ;
  top: 4px ;
  width: 4px ;
}
div.m-images ul.images div.drop-indicator div.right {
  background-color: rgba(255, 255, 255, 0.01);
  bottom: 0px ;
  position: absolute ;
  right: 0px ;
  top: 0px ;
  width: 50% ;
}
div.m-images ul.images div.drop-indicator div.right:before {
  background-color: #FF33CC ;
  border-radius: 2px 2px 2px 2px ;
  bottom: 4px ;
  content: "";
  display: none ;
  font-size: 1px ;
  overflow: hidden ;
  position: absolute ;
  right: 0px ;
  top: 4px ;
  width: 4px ;
}
div.m-images ul.images div.drop-indicator div.drop-here:before {
  display: block ;
}
div.m-images ul.images:after {
  content: "";
  display: block ;
  clear: both ;
  height: 0px ;
}
div.m-images.pending-drop ul.images div.drop-indicator {
  display: block ;
}
